<section id="banner-uzky" class="bar relative-positioned" style="background: url('/images/baner-uzky.jpg') center center no-repeat; background-size: cover;">
	<div class="container">
		
			<div class="col-lg-12 col-xs-12 text-center">
				<h1 class="other-pages__title">{{ .Title }}</h1>
				<h2 class="other-pages__sub-title">{{ .Params.subTitle }}</h2>
			</div>
		
	</div>
</section>

<section>
	<div class="container text-center" style="padding-top: 50px">
		<div class="row">
			<div class="col-md-4 col-xs-12" style="margin-bottom: 45px">
				<div>
					<i class="fas fa-phone benefity__icon fa-3x"></i>
					<h3 class="page__kontakt-title"><a href="tel:603203098" style="color: black;letter-spacing: 1px">+420 603 203 098</a></h3>
					<p class="benefity__desc">
						Volejte nám v pracovní dny Po-Pá 7-19 hod.<br>
						V případě nutnosti kdykoli. Nebo napište sms a co nejdříve se vám ozveme.
					</p>
				</div>
			</div>

			<div class="col-md-4 col-xs-12" style="margin-bottom: 45px">
				<div>
					<i class="fas fa-envelope benefity__icon fa-3x"></i>
					<h3 class="page__kontakt-title" style="letter-spacing: 1px;">{{ partial "email" . }}</h3>
					<p class="benefity__desc">Pište kdykoli! Na emaily odpovídáme velmi rychle.</p>
				</div>
			</div>

			<div class="col-md-4 col-xs-12" style="margin-bottom: 45px">
				<div>
					<i class="fas fa-map-marker-alt benefity__icon fa-3x"></i>
					<h3 class="page__kontakt-title">2.května 944, Studénka 74213</h3>
					<p class="benefity__desc">Zde sídlíme a odtud za vámi vyjíždíme.<br>Působíme po celé České Republice</p>
				</div>
			</div>
		</div>
	</div>
</section>

<!--<section id="benefity" style="background: linear-gradient(-45deg, #34a0b4 40%, #8dd1e1);">
	<div class="container text-center">
		<h1 style="margin: 45px 0 20px 0; border-bottom: solid 2px #8cd1e1; padding-bottom: 20px; display: inline-block; color: white">{{ .Title }}</h1>
		<h2 style="margin-bottom: 60px">A rezervujte si svůj kyslíkový koncentrátor již dnes.</h2> 
		<div class="row">
			<div class="col-md-4 col-xs-12" style="margin-bottom: 45px">
				<div>
					<i class="fas fa-phone benefity__icon fa-3x"></i>
					<h3 class="page__kontakt-title"><a href="tel:603203098" style="color: white;letter-spacing: 1px">+420 603 203 098</a></h3>
					<p class="benefity__desc">Volejte nám v pracovní dny Po-Pá 7-19 hod.<br>
					V případě nutnosti kdykoli. Nebo napište sms a co nejdříve se vám ozveme.</p>
				</div>
			</div>

			<div class="col-md-4 col-xs-12" style="margin-bottom: 45px">
				<div>
					<i class="fas fa-envelope benefity__icon fa-3x"></i>
					<h3 class="page__kontakt-title" style="letter-spacing: 1px;">provital@tiscali.cz</h3>
					<p class="benefity__desc">Pište kdykoli! Na emaily odpovídáme velmi rychle.</p>
				</div>
			</div>

			<div class="col-md-4 col-xs-12" style="margin-bottom: 45px">
				<div>
					<i class="fas fa-map-marker-alt benefity__icon fa-3x"></i>
					<h3 class="page__kontakt-title">2.května 944, Studénka 74213</h3>
					<p class="benefity__desc">Zde sídlíme a odtud za vámi vyjíždíme.<br>Působíme po celé České Republice</p>
				</div>
			</div>
		</div>
	</div>
</section>-->
<!--<section id="banner-mapa">
<div class="text-center" >	
<img src="/images/mapa-banner.jpg" class="img-fluid" style="object-fit: cover">
	</div>
</section>-->


<section id="mapa-fakturace" style="background: url('/images/mapa-background.jpg') center center no-repeat; background-size: cover;">
	<div class="container">
		<div class="row">
			<div class="col-md-6 col-xs-12 p-4 text-center">
				<h2 style="background: #09365b; padding: 15px 20px; color: white; display: inline-block;">Působíme v celé České republice</h2>
				<div class="mx-auto" style="display: table; margin-top: 40px">
					<h4 class="kontakt__title">Fakturační údaje a sídlo</h4>
					<ul class="list-style-type kontakt__texty text-left" style="padding: 0; margin: 0">
						<li class="kontakt__li"><b>Pro-vital fve, s.r.o.</b></li>
						<li class="kontakt__li">2.května 944, Studénka 74213</li>
						<li class="kontakt__li">IČ: 28598296 DIČ: CZ28598296</li>
					</ul>
				</div>
			</div>
			<div class="col-lg-6 col-xs-12 p-4">
				<img src="/images/studenka-vertikal.jpg" class="img-fluid rounded" style="border:2px solid #09365b">
			</div>
		</div>
	</div>
</section>