<section id="banner-uzky" class="bar relative-positioned" style="background: url('/images/baner-uzky.jpg') center center no-repeat; background-size: cover;">
	<div class="container">

		<div class="col-lg-12 col-xs-12 text-center">
			<h1 class="other-pages__title">{{ .Title }}</h1>
			<h2 class="other-pages__sub-title">{{ .Params.subTitle }}</h2>
		</div>

	</div>
</section>
<!--<section id="pronajem__title">
	<div class="container text-center">
		<h2 style="margin: 45px 0 0px 0; border-bottom: solid 2px #09365b; padding-bottom: 20px; display: inline-block">Pronájem přístroje ve čtyřech krocích</h2>
	</div>
</section>-->

<section id="pronajem__jak-postupovat">
	<div class="container text-center" style="padding-top: 40px">
		<div class="row">
			<div class="col-md-3 col-xs-12" style="margin-bottom: 45px">
				<div>
					<!--<i class="fas fa-phone benefity__icon fa-3x"></i>-->
					<h3 class="page__kontakt-title"><b>1.</b> Kontaktujte nás</h3>
					<img src="/images/pronajem-telefon.jpg" class="img-fluid" style="border-radius: 50%; max-width: 150px">
					<p class="benefity__desc" style="margin-top: 20px">
						Napište email na <b>{{ partial "email" . }}</b> nebo zavolejte <a href="tel:{{ partial "telefon" . }}" style="color: #09365b; font-weight: bold">{{ partial "telefon" . }}</a> v Po-Pá 7-19 hod.
						V případě nutnosti volejte kdykoli. Nebo napište sms a co nejdříve se vám ozveme.
					</p>
				</div>
			</div>

			<div class="col-md-3 col-xs-12" style="margin-bottom: 45px">
				<div>
					<!--<i class="fas fa-envelope benefity__icon fa-3x"></i>-->
					<h3 class="page__kontakt-title" style="letter-spacing: 1px;"><b>2.</b> Dohodneme podmínky</h3>
					<img src="/images/pronajem-kalendar.jpg" class="img-fluid" style="border-radius: 50%; max-width: 150px">
					<p class="benefity__desc" style="margin-top: 20px">Odpovíme Vám na všechny dotazy. Vyberem spolu nejvhodnější přístroj dle vašich potřeb. Dohodneme se na ceně a datu zapojení. Dopředu neplatíte žádnou zálohu.</p>
				</div>
			</div>

			<div class="col-md-3 col-xs-12" style="margin-bottom: 45px">
				<div>
					<!--<i class="fas fa-envelope benefity__icon fa-3x"></i>-->
					<h3 class="page__kontakt-title" style="letter-spacing: 1px;"><b>3.</b> Osobně přivezeme přístroj</h3>
					<img src="/images/pronajem-doprava.jpg" class="img-fluid" style="border-radius: 50%; max-width: 150px">
					<p class="benefity__desc" style="margin-top: 20px">Kyslíkový koncentrátor přivezeme osobně k vám v domluvený termín. Na ceně dopravy se dohodneme předem. Při dlouhodobějším pronájmu (cca 30 a více dní) je doprava zdarma.</p>
				</div>
			</div>

			<div class="col-md-3 col-xs-12" style="margin-bottom: 45px">
				<div>
					<!--<i class="fas fa-envelope benefity__icon fa-3x"></i>-->
					<h3 class="page__kontakt-title" style="letter-spacing: 1px;"><b>4.</b> Zapojíme a zaškolíme</h3>
					<img src="/images/pronajem-zapojeni-2.jpg" class="img-fluid" style="border-radius: 50%; max-width: 150px">
					<p class="benefity__desc" style="margin-top: 20px">Kyslíkový koncentrátor u vás zapojíme a vyzkoušíme. Naučíme vás přístroj s jistotou ovládat. Podepíšem smlouvu o pronájmu. Platba při podpisu nebo převodem na účet a bez kauce.</p>
				</div>
			</div>
		</div>
	</div>
</section>

<section id="banner-uzky" class="relative-positioned" style="margin-top: 45px; background: url('/images/baner-uzky.jpg') center center no-repeat; background-size: cover;">
	<div class="container">

		<div class="col-lg-12 col-xs-12 text-center">
			<h2 style="padding: 30px 0; font-weight: bold">Rezervujte si svůj oxygenerátor již dnes!</b></h2>
		</div>
		<div class="row">
			<div class="col-md-4 col-xs-12 text-left">
				<h3 class="text-center fa-dark-blue" style="margin-bottom:20px; font-weight: bold">Výhody pronájmu</h3>
				<p><i class="fas fa-check-circle fa-dark-blue" style="padding-right: 10px"></i>Nemusíte kupovat nový drahý přístroj</p>
				<p><i class="fas fa-check-circle fa-dark-blue" style="padding-right: 10px"></i>Zdarma pravidelný servis a revizní kontroly</p>
				<p><i class="fas fa-check-circle fa-dark-blue" style="padding-right: 10px"></i>Odborné zaškolení do ovládání přístroje</p>
				<p><i class="fas fa-check-circle fa-dark-blue" style="padding-right: 10px"></i>Garantujeme parametry přístroje po celou dobu</p>
			</div>

			<div class="col-md-4 col-xs-12 text-center" style="">
				<div style="margin-bottom: 30px" class="align-middle">
					<img src="/images/pronajem-ted.jpg" class="img-fluid align-middle" style="border-radius: 50%; max-width: 200px">
				</div>
			</div>

			<div class="col-md-4 col-xs-12 text-center" style="">
				<div class="align-middle" style="margin-bottom: 30px; font-size: 24px; background: #09365b; padding: 15px 25px; color: white; display: inline-block; letter-spacing: 1px">
					<i class="fas fa-phone fa-1x" style="padding-right: 10px"></i><a href="tel:603203098" style="color: white;letter-spacing: 1px">+420 603 203 098</a>
				</div>
				<div class="align-middle" style="font-size: 24px; background: #09365b; margin-bottom: 50px; padding: 15px 27px; color: white; display: inline-block; letter-spacing: 1px">
					<i class="fas fa-envelope fa-1x" style="padding-right: 10px;"></i>{{ partial "email" .}}
				</div>
			</div>
		</div>
	</div>
</section>



<section id="pronajem__cenik">
	<div class="container text-center">
		<h2 style="margin: 45px 0 0px 0; border-bottom: solid 2px #09365b; padding-bottom: 20px; display: inline-block">Ceník pronájmu</h2>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-md-6 px-5" style="padding-top: 40px">
				<h3>Cena pronájmu přístroje</h3>
				<p style="font-family: 'Roboto', sans-serif;">Cenu pronájmu dopředu dohodneme. Záleží na době pronájmu a typu přístroje, který společně vybere optimálně k vaším potřebám. Uvedené ceny pronájmu jsou tedy orientanční. Cena je uvedena za 1 den zapůjčení. Minimální doba pronájmu je 14 dní. Maximální doba není omezena. 
				 Pokud potřebujte délku pronájmu prodloužit, stačí nám dát vědět a smlouvu prodloužíme.<br><b style="color:#007bff">Cenu pronájmu budete vždy znát dopředu, před uzavřením smlouvy.</b></p>
</p>
				<p>Krátkodobý pronájem (do 30 dní): <span style="color:#007bff">od 90 Kč / den</span></p>
				<p>Dlouhodobý pronájem (30 a více dní): <span style="color:#007bff">od 60 Kč / den</span></p>
			</div>

			<div class="col-md-6 px-5" style="padding-top: 40px">
				<h3>Cena dopravy</h3>
				<p style="font-family: 'Roboto', sans-serif;">Přístroje zavážíme osobně. Vliv na cenu dopravy má zejména doba pronájmu. Dále bereme v potaz vzdálenost k vám a datum doručení. Smluvená cena zahrnuje dovoz i odvoz přístroje.<br>
				<b style="color:#007bff">Cenu dopravy budete vždy znát dopředu, před uzavřením smlouvy.</b></p>
				<p>Doprava při krátkodobý pronájmu (do 30 dní): <span style="color:#007bff">dle domluvy</span></p>
				<p>Doprava při dlouhodobm pronájmu (30 a více dní): <span style="color:#007bff">zdarma</span></p>
			</div>

			<div class="col-md-6 px-5" style="padding-top: 40px">
				<h3>Ostatní služby</h3>
				<p></p>
				<p>Servis: více se o servisních službách <a href="/servis-kyslikovych-koncentratoru" style="text-decoration:underline">zde</a></p>
				<p>Zapojení přístroje: <span style="color:#007bff">zdarma</span></p>
				<p>Zaškolení: <span style="color:#007bff">zdarma</span></p>
			</div>

		</div>
	</div>
</section>

<section id="benefity" style="background: linear-gradient(-45deg, #34a0b4 40%, #8dd1e1);">
	<div class="container text-center">
		<h2 style="margin: 45px 0 40px 0; border-bottom: solid 2px #8cd1e1; padding-bottom: 20px; display: inline-block; color: white">Proč zvolit zapůjčení kyslíkového koncentrátoru u nás</h2>
		<div class="row">
			<div class="col-md-4 col-xs-12" style="margin-bottom: 45px">
				<div>
					<i class="fas fa-comment benefity__icon fa-3x"></i>
					<h3 class="benefity__title">Rychlá domluva</h3>
					<p class="benefity__desc">Po domluvě instalujeme přístroj u Vás doma i do 24 hod.</p>
				</div>
			</div>

			<div class="col-md-4 col-xs-12" style="margin-bottom: 45px">
				<div>
					<i class="fas fa-handshake benefity__icon fa-3x"></i>
					<h3 class="benefity__title">Nízká cena pronájmu</h3>
					<p class="benefity__desc">Pronájem od 60 Kč dle typu přístroje. Platba až po zapojení a bez kauce!</p>
				</div>
			</div>

			<div class="col-md-4 col-xs-12" style="margin-bottom: 45px">
				<div>
					<i class="fas fa-truck benefity__icon fa-3x"></i>
					<h3 class="benefity__title">Doprava a zapojení zdarma</h3>
					<p class="benefity__desc">Osobně přivezema a zapojíme. Dopravu můžete mít zdarma.</p>
				</div>
			</div>

			<div class="col-md-4 col-xs-12" style="margin-bottom: 45px">
				<div>
					<i class="fas fa-graduation-cap benefity__icon fa-3x"></i>
					<h3 class="benefity__title">Odborné zaškolení</h3>
					<p class="benefity__desc">Po zapojení vás perfektně naučíme ovládát kyslíkový přístroj.</p>
				</div>
			</div>

			<div class="col-md-4 col-xs-12" style="margin-bottom: 45px">
				<div>
					<i class="fas fa-wrench benefity__icon fa-3x"></i>
					<h3 class="benefity__title">Pravidelný servis</h3>
					<p class="benefity__desc">Přístroje pravidelně servisujeme a garantujeme dané parametry.</p>
				</div>
			</div>
			<div class="col-md-4 col-xs-12" style="margin-bottom: 45px">
				<div>
					<i class="fas fa-calendar-alt benefity__icon fa-3x"></i>
					<h3 class="benefity__title">{{ $year := dateFormat "2006" now }} {{ sub ( int $year ) 1995 }} let zkušeností</h3>
					<p class="benefity__desc">Poskytujeme služby s dýchacími přístroji od roku 1995.</p>
				</div>
			</div>

		</div>
	</div>
</section>

<!--<section id="banner-uzky" class="relative-positioned" style="margin-top: 45px; background: url('/images/baner-uzky.jpg') center center no-repeat; background-size: cover;">
	<div class="container">

		<div class="col-lg-12 col-xs-12 text-center">
			<h2 style="padding: 30px 0; font-weight: bold">Rezervujte si svůj oxygenerátor již dnes!</b></h2>
		</div>
		<div class="row">
			<div class="col-md-6 col-xs-12 text-center px-5" style="padding-bottom: 20px">
				<div>
					
					<p class="" style="font-size: 22px"><i class="fas fa-phone benefity__icon fa-1x" style="padding-right: 10px"></i><a href="tel:603203098" style="color: black;letter-spacing: 1px"><b>+420 603 203 098</b></a></p>
					<p class="benefity__desc">
						Volejte nám v pracovní dny Po-Pá 7-19 hod.<br>
						V případě nutnosti kdykoli. Nebo napište sms a co nejdříve se vám ozveme.
					</p>
				</div>
			</div>

			<div class="col-md-6 col-xs-12 text-center px-5" style="padding-bottom: 20px">
				<div>
					<p class="" style="font-size: 24px"><i class="fas fa-envelope benefity__icon fa-1x" style="padding-right: 10px"></i><b>{{ partial "email" .}}</b></p>
					<p class="benefity__desc">Pište kdykoli! Na emaily odpovídáme velmi rychle.</p>
				</div>
			</div>
		</div>
	</div>
</section>-->



<section id="faq">
	<div class="container pb-5">
		<div class="text-center"><h2 style="margin: 45px 0 40px 0; border-bottom: solid 2px #09365b; padding-bottom: 20px; display: inline-block">Nejčastějí dotazy k půjčení kyslíkového koncentrátoru</h2></div>

		<div id="accordion" class="mx-auto" style="max-width: 880px">
			<div class="card mb-3">
				<div class="card-header" id="headingOne">
					<h5 class="mb-0">
						<button class="btn btn-link faq__question" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
							Otázka č. 1
						</button>
					</h5>
				</div>

				<div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
					<div class="card-body faq__answer">
						Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
					</div>
				</div>
			</div>
			<div class="card mb-3">
				<div class="card-header" id="headingTwo">
					<h5 class="mb-0">
						<button class="btn btn-link collapsed faq__question" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
							Otázka č. 2
						</button>
					</h5>
				</div>
				<div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
					<div class="card-body faq__answer">
						Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
					</div>
				</div>
			</div>
			<div class="card mb-3">
				<div class="card-header" id="headingThree">
					<h5 class="mb-0">
						<button class="btn btn-link collapsed faq__question" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
							Otázka č. 3
						</button>
					</h5>
				</div>
				<div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
					<div class="card-body faq__answer">
						Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
					</div>
				</div>
			</div>
		</div>
	</div>
</section>